---
name: Lint

'on':
  push:
    branches:
      - main
  pull_request:

jobs:
  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Run ShellCheck
        run: |
          find . -name '*.sh' -print0 | xargs -0 shellcheck

  markdownlint:
    name: MarkdownLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Run markdownlint
        run: |
          npm install -g markdownlint-cli
          markdownlint '**/*.md' --ignore node_modules
